*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #343434;
    color: rgb(219, 219, 219);
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #e843bf;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(219, 219, 219);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #e843bf;
    border-bottom: 3px solid #e843bf;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #e843bf;
        border-bottom: 3px solid #e843bf;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #e843bf;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #181818;
}

 .home .home-content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}
 .home .home-content h2{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.2
;
}
span{
    color: #e843bf;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.7rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #e843bf;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #e843bf;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #e843bf;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #e843bf;
    box-shadow: 0  0 25px #e843bf;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #e843bf;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #e843bf;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #e843bf;
    color: black;
    box-shadow: 0 0 25px #e843bf;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #e843bf;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #181818;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #cc91ff;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #e843bf;
    }
}

@keyframes words{
    0%, 20%{
        content: "Artist";
    }
    21%, 40%{
        content: "Student";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Script writer";
    }
    81%, 100%{
        content: "Story Maker";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.classroom-icon,
.ghost-buster-icon,
.gun-icon,
.house-icon,
.table-icon {
  align-self: stretch;
  width: 899px;
  position: relative;
  border-radius: var(--br-24xl);
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 506px;
  max-width: 100%;
}
.frame-projects-home,
.frame-projects-home-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-projects-home {
  width: 1043px;
  overflow-x: auto;
  flex-shrink: 0;
  gap: 115px;
}
.frame-projects-home-wrapper {
  padding: 0 var(--padding-20xl) 0 40px;
  box-sizing: border-box;
}
.ghost-buster-trap {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.projects-home {
  align-self: stretch;
  box-shadow: 0 4px 2.8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 259px var(--padding-xl) 17px;
  box-sizing: border-box;
  gap: 50px;
  max-width: 100%;
  text-align: left;
  font-size: 128px;
  color: var(--color-whitesmoke);
  font-family: var(--font-poppins);
}
.an-artist-cannot {
  margin: 0;
  width: 1006px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.artist-statement {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}